@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

/* reseting style */

*, html {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

:root {
    --primary-color: #8E2424;
    --h-color: #101828; 
    --text-color: #667085;
  }  


h1, h2, h3{
    color: var(--h-color);
    font-size: 48px;
}

p, a, input{
    color: #667085;
    font-size: 16px;
}

body{
    width: 100%;
    height: 100vh;
}



/* styling navbar */


.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 80px;
    width: 100vw;
}

.conteiner--logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 112px;
    /* background-color: aqua; */
}

.conteiner--logo img{
    width: 26px;
    margin-right: 8px;

}

.companyName {
    color: 3A404E;
    font-size: 18px;


}

.conteiner--menu{

    display: flex;
    align-items: center;
    justify-content: center;


}

ul {
    display: flex;
    list-style: none;
}

.menu--item{
    text-decoration: none;
    margin-left: 32px;
}


.conteiner--navBtns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 112px;
 
     /* background-color: blueviolet; */
}


/* Styling buttons */
.btn--primary{

    background-color: #8E2424;
    color: #fff;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    margin-left: 5px;

}

.btn--secundary{
    background-color: transparent;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
}


/* Styling textConteiner */

.conteiner--mainText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-top: 70px;
}

.subheadline{
    color: var(--primary-color);
}

.hero--headline{
    margin-top: 24px;
}

.hero--paragraph{
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
    max-width: 50%;
}

/* styling metricsConteiner */

.conteiner--metrics{
    display: flex;
    margin: 100px 110px 0px 110px;
    justify-content: center;

}

.metric{

    width: 300px;
    margin-right: 32px;

}

.metric h2{
    color: var(--primary-color);
    font-size: 60px;
}

.metric span{
    color: var(--h-color);
    font-size: 18px;
    margin-top: 12px;

}

.metric p{
    color: var(--text-color);
    font-size: 16px;
    margin-top: 8px;

}

/* Styling hiring conteiner*/

section.hiring--conteiner{

    margin-top: 170px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.hiring--conteiner span.deferentSpan{

    color: var(--primary-color);
    font-size: 14px;
    background-color: rgba(142, 36, 36, 0.05);
    padding: 8px;
    border-radius: 16px;

}  

section.hiring--conteiner h2{
    margin-top: 20px;
}

section.hiring--conteiner span{
    margin-top: 20px;
    color: var(--text-color);
}

section.hiring--conteiner img{
    width: 80%;
    margin-top: 64px;
}
